
torch==2.0.1
torchvision==0.15.2
pytorch-lightning==2.2.3
monai==1.1.0
SimpleITK==2.2.1
nibabel==3.2.2
numpy==1.22.3
scipy==1.6.3
transformers==4.42.3
huggingface-hub==0.23.4
safetensors==0.4.3
regex==2022.3.15
ftfy==6.1.1
einops==0.6.1
timm==1.0.22
PyYAML==6.0
tqdm==4.63.0
matplotlib==3.5.1